# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/

# Misc
*.log
.env
